<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/article/create" class="nav-link">Create Article</a>
                </li>
            </ul>
                <form action="/search" method="get" class="d-flex mx-auto">
                    <label>
                        <input class="form-control me-2" type="text" name="query" placeholder="Insert title">
                    </label>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">{{ globalTime }}</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a a id="globalTime">Time</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    function formatTime(date) {
        return date.toLocaleTimeString();
    }

    function updateTime() {
        const now = new Date();
        const timeString = formatTime(now);
        document.getElementById('globalTime').textContent = timeString;
    }

    updateTime();
    setInterval(updateTime, 1000);
</script>





