body, h1, h2, p {
    margin: 0;
    padding: 0;
}

h1.main-content {
    text-align: center;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.search-box {
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box form {
    display: flex;
    width: 100%;
}

.search-box input[type="text"],
.search-box select,
.search-box input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    flex: 1;
}

#country-select {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

#country-select option {
    font-size: 16px;
}

.search-box button {
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.search-box button:hover {
    background: #222;
}

.main-content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-box {
    flex: 0 0 calc(30% - 20px);
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.news-box a {
    text-decoration: none;
    color: #333;
}

.news-box img {
    max-width: 100%;
    height: auto;
}

.news-box h2 {
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    margin: 20px;
}

.weather p {
    font-size: 18px;
    margin: 10px 0;
}

.weather form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.weather input[type="text"] {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.weather button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.weather .searched-weather {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.symbol {
    font-size: 136px;
}



