{% include 'Partials/base.twig' %}

<section class="main-content">
    <!-- Search Field -->
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Insert title">
        <button type="submit">Search</button>
    </form>

    <a href="/article/create" class="create-article-btn">Create New Article</a>

    <h1 class="news-box-single">Articles</h1>
    <div class="news-container">
        {% if articles.isEmpty() %}
            <p class="news-box-single">No results found!</p>
        {% else %}
            {% for article in articles.getNewsCollection() %}
                <div class="news-box">
                    <h2>{{ article.getTitle() }}</h2>
                    <p>{{ article.getDescription() }}</p>
                    <a href="/article/{{ article.getId() }}">Read More</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>
{% include 'Partials/footer.twig' %}

